body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #333;
}

.container {
    width: 50%;
    margin: auto;
    text-align: center;
}

.logo-container {
    text-align: left;
    padding: 10px 0;
}

.logo {
    width: 50px; /* Ajuste o tamanho da logo para menor */
    height: auto; /* Mantém a proporção */
}

h1 {
    color: #f57c00;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button {
    background-color: #f57c00;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 1em;
}

button:hover {
    background-color: #e65a00;
}

.error {
    color: red;
}
