<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Consulta de Viagem</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <!-- Logo da Empresa -->
        <div class="logo-container">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo da Empresa" class="logo">
        </div>
        
        <h1>Consulta de Viagem</h1>
        {% if error %}
            <p class="error">{{ error }}</p>
        {% endif %}
        <form action="/" method="POST">
            <label for="campo">Escolha o campo para pesquisa:</label>
            <select name="campo" id="campo" required>
                <option value="Número da nota">Número da nota</option>
                <option value="CTE">CTE</option>
                <option value="Manifesto + Parada">Manifesto + Parada</option>
            </select>
            
            <label for="valor">Digite o valor:</label>
            <input type="text" name="valor" id="valor" required>
            
            <button type="submit">Consultar</button>
        </form>
    </div>
</body>
</html>
